<link rel="stylesheet" href="/css/login.css">
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <img src="/img/userdefault.svg" id="icon" alt="User Icon" />
        </div>

        <!-- Signin Form -->
        <form action="/account/set_password?token=<%= token%>" method="post" >
            <input type="password" id="password" class="fadeIn third" name="password" placeholder="password" minlength="8" required>
            <input type="password" id="confirm_password" class="fadeIn third" name="confirm_password" placeholder="confirm password" minlength="8" required>
            <input type="submit" class="fadeIn fourth" value="Submit">
        </form>

        <!-- Already Registered -->
        <div id="formFooter">
            <p class=".footer_text" >Enter Your new password below</p>
        </div>

    </div>
</div>